<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Requests.XYZ | Shareable HTTP Requests and Responses</title>
    <style media="screen">
      label { display:block; }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/zenburn.min.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  </head>
  <body onload="document.getElementById('shareURL').value=location.host + location.pathname + '#response'">
    <div class="container">
      {% include 'inc/form.html' %}
      <a href="">Back to top</a>
      <h1 id="response">Response</h1>
      <p>Request URL: {{resp.url}}</p>
      <label>Shareable URL - Copy/paste this link and share with other developers</label>
      <input type="text" value="" onload="this.value='hi'" class="u-full-width" id="shareURL" onclick="this.select()">
      <small><i>*Note* All visits to the shareable URL will trigger the request. Even POST, PUT and DELETE!</i></small>

      <br>

      <table class="table u-full-width">
        <tr>
          <td style="width:150px">
            Status Code:
          </td>
          <td>
            {{resp.status_code}}
          </td>
        </tr>
        <tr>
          <td>
            Content-Type
          </td>
          <td>
            {{resp.headers['content-type']}}
          </td>
        </tr>

        <tr>
          <td colspan="2">
            Headers
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <pre><code>{{headers}}</code></pre>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Response Body
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <pre><code>{{content}}</code></pre>
          </td>
        </tr>
      </table>

    </div>

    {% include 'inc/footer.html' %}
  </body>
</html>
